@import "../theme";

html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $our_green;
  width: 100%;

  &.container {
    @include center;
    width: 100%;
    max-width: 100%; 
   
  }

  &.title {
    font-weight: bold;
    color: $our_brown;
    text-align: center;
  }
}