@import "../theme";

.homefeed-title {
  color: $our_brown;
  margin-top: 0.5em;
  min-height: 150px;
  @include center;
  flex-direction: column;
}

.homefeed{
  & .filter {
    color: $our_brown;
    background-color: $our_beige;
    margin-right: 100px;
  }

  & .filter-container {
    margin-bottom: 40px;
    margin-right: 20px;
  }

  

  &.slider {
    
    -webkit-appearance: none;
    appearance: none;
    margin-right: 4px;
    outline:none;
    overflow: hidden;
    height: 11px; 
    background: transparent; 
    border-radius: 12px; 
    border: 1px solid $our_brown;
    
    
    
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      border-radius: 12px; 
    }

    &::-moz-range-track {
      width: 100%;
      height: 8px;
      background: #ddd;
      border-radius: 5px;
    }

    &::-moz-range-progress {
      background: $our_brown;
      border-radius: 5px;
    }

    &::-ms-track {
      width: 100%;
      height: 8px;
      background: #ddd;
      border-radius: 5px;
    }

    &::-ms-fill-lower {
      background: $our_brown;
      border-radius: 5px;
    }

    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 11px;
      width: 11px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid $our_brown ;
      margin-top: -1.8px;
      box-shadow: -407px 0 0 400px $our_brown;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      height: 20px;
      width: 20px;
      border: none;
      border-radius: 50%;
      background: $our_brown;
      cursor: pointer;
    }

    &::-ms-thumb {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: $our_brown;
      cursor: pointer;
    }
  }

  }



.myapplications {

  //General container
  &.container {
    color: $our_brown;
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }

  //A green box that shows all details of one task
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 70em;
    height: 22em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $our_green;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    margin-bottom: 2em;
  }

  //Component holds all infos of a task
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  //For a better view, we split the box in multiple areas
  &.split-wrapper {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  &.left-wrapper {
    justify-content: left;
    text-align: left;
  }
  &.right-wrapper {
    justify-content: right;
    text-align: right;
  }

  //Title, label and content define the type of text that is shown
  &.title {
    height: 35px;
    margin-top: 22px;
    margin-bottom: 20px;
    color: $our_brown;
    text-transform: uppercase;
    font-size: calc(2vw + 13px);
    font-weight: 700;
    display: block;
    text-align: center; 
    
  }
  &.label {
    color: $our_brown;
    margin-top: 8px;
    margin-bottom: 2px;
    text-transform: lowercase;
    font-weight: 350;
    display: block;
  }
  &.content {
    color: $our_brown;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
  }

  //Regular button container
  &.button-container {
    justify-content: space-between;
    margin-top: 2em;
    button {
      color: $our_beige;
      background-color: $our_brown;
    }
  }

}

// .task {
//   &.container {
//     color: $our_brown;
//     margin-top: 2em;
//     min-height: 300px;
//     @include center;
//     flex-direction: column;
//     border: 1px solid #ddd;
//     padding: 10px;
//     margin-bottom: 10px;
//     border-radius: 5px;
//     background-color: $our_green;
//     box-shadow: $dropShadow;
//   }
//   &.form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     max-width: 30em;
//     height: 35em;
//     font-size: 16px;
//     font-weight: 300;
//     padding-left: 37px;
//     padding-right: 37px;
//     border-radius: 0.75em;
//     background-color: $our_green;
//     transition: opacity 0.5s ease, transform 0.5s ease;
//     box-shadow: $dropShadow;
//   }
//   &.field {
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     display: flex;
//     flex-direction: row; 
//     justify-content: flex-start; 
//     align-items: center; 
//   }
//   &.creatorId,
//   &.description,
//   &.price,
//   &.time,
//   &.date  {
//     height: 35px;
//     padding-left: 15px;
//     margin-left: -4px;
//     border: none;
//     border-radius: 0.75em;
//     margin-bottom: 20px;
//     background: transparentize(white, 0.85);
//     color: $our_brown;
//   }
//   &.label {
//     color: $our_brown;
//     margin-bottom: 6px;
//     text-transform: uppercase;
//     font-weight: 600;
//   }
//   &.answer {
//     padding-left: 15px;
//     margin-left: 0px;
//     border: none;
//     border-radius: 0.75em;
//     margin-bottom: 6px;
//     color: $our_brown;
//   }
//   &.button-container {
//     display: flex;
//     justify-content: center;
//     margin-top: 2em;
//     button {
//       color: $our_beige;
//       background-color: $our_brown;
//     }
//   }
// }
