@import "../theme";

.mytasks {

  //General container
  &.container {
    color: $our_brown;
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }

  //A green box that shows all details of one task
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 70em;
    height: 22em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $our_green;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    margin-bottom: 2em;
  }

  //Component holds all infos of a task
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  //For a better view, we split the box in multiple areas
  &.split-wrapper {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  &.left-wrapper {
    justify-content: left;
    text-align: left;
  }
  &.right-wrapper {
    justify-content: right;
    text-align: right;
  }

  //Title, label and content define the type of text that is shown
  &.title {
    height: 35px;
    margin-top: 22px;
    margin-bottom: 20px;
    color: $our_brown;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    display: block;
  }
  &.label {
    color: $our_brown;
    margin-top: 8px;
    margin-bottom: 2px;
    text-transform: lowercase;
    font-weight: 350;
    display: block;
  }
  &.content {
    color: $our_brown;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
  }

  //The status box defines the look of the status box for each task
  &.status-box {
    position: relative;
    top: 0;
    right: 0;
    background: $our_beige;
    color: $our_brown;
    border: 2px solid $our_brown;
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 25%;
    padding: 8px 6px;
    margin-top: 2em;
  }

  &.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }

  & .button-replacement {
    font-size: 16px;
    font-weight: 300;
    font-weight: 600;
  }

  button {
    color: $our_beige;
    background-color: $our_brown;
  }
}