@import "../theme";

.todo {
  &.container {
    color: $our_brown;
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: auto;
    padding-top: 2em; 
    padding-bottom: 2em; 
    // min-height: 35em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $our_green;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    width: 100%;
    margin-right: 10px;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 0.75em;
    background: transparentize(white, 0.85);
    color: $our_brown;
  }
  &.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.input-button-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.task-container {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center; // Vertically center items
    justify-content: space-between; // Pushes the button to the right
  }
  &.label {
    color: $our_brown;
    text-transform: uppercase;
    font-weight: 600;
  }
  &.description {
    color: $our_brown;
    text-transform: lowercase;
    padding-left: 10px;
    margin-right: 15px;
    margin-left: auto;
    align-self: center;

  }
  &.close_todo {
    color: $our_brown;
    padding-left: 10px;
    margin-right: 15px;
    align-self: center;
  }
  &.button-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;


    button {
      margin-right: 3px;
      margin-left: 3px;
      color: $our_beige;
      background-color: $our_brown;
    }
  }
  .tick {
    flex-shrink: 0;
    cursor: pointer; // Set cursor to pointer to indicate it's clickable
    margin-left: 6px;
    color: grey; // Initial color of the tick
    font-size: 24px;
    transition: color 0.3s; // Smooth transition for color change
  }

  .tick.clicked {
    color: green; // Change color to green when clicked
  }

}